  <div class="page">
    <div class="container-fluid">
      <form
        method="post" action="/admin/add-product" enctype="multipart/form-data"
        class="ml-4 w-[50%] border-1 bg-gray-500/30 flex flex-col gap-3 p-3 rounded-xl items-start"
      >
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          class="p-2 rounded w-full"
          placeholder="Product Name" required
        />
         <label for="shortDesc">Short Description</label>
        <input
          type="text"
          name="shortDesc"
          class="p-2 rounded w-full"
          placeholder="Product Name" required
        />
        <p>Product Category</p>
        <select
          name="category"
          class="form-control show-tick ms select2"
          data-placeholder="Select" required
        >
          <option></option>
          {{#each categories}}
            <option>{{this.category}}</option>
          {{/each}}
        </select>
        <p>Product Brand</p>
        <select
          name="brand"
          class="form-control show-tick ms select2"
          data-placeholder="Select" required
        >
          <option></option>
          {{#each brands}}
            <option>{{this.brand}}</option>
          {{/each}}
        </select>
        <label for="description">Description</label>
        <textarea name="description" class="p-2 rounded w-full"
          placeholder="Product Description" required id=""></textarea>
        <label for="price">Price</label>
        <input
          type="number"
          name="price"
          class="p-2 rounded w-full"
          placeholder="Product Price" required
        />
        <label for="product-image">Choose file</label>
        <input type="file" name="image" multiple required/>
        <button
          type="submit"
          class="bg-green-500 rounded-xl p-2 font-semibold text-white"
        >Add Product</button>
      </form>
    </div>
  </div>