  <!--  ====== preloader start ======================================  -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_four"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_one"></div>
                </div>
            </div>
        </div>
        <!--  preloader-end -->

        <!--  ====== header-area-start=======================================  -->
        <header >
            <div id="header-sticky" class="header-area header-area1 white-bg floating-menu">
                <div class="header header-padding ml-185 mr-185">
                    <div class="container-fluid">
                        <div class="header-mega p-relative">
                            <div class="row align-items-center justify-content-lg-between">
                                <div class="col-xl-2  col-lg-2 col-md-3 col-sm-6 col-7 pr-0 d-flex align-items-center">
                                    <div class="logo">
                                        <a href="/" class="d-block" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="NEO PRODUCTS">
                                            <img style="width: 75%;" src="/neo/logo.png" alt="neo_logo">
                                        </a>
                                    </div>
                                </div><!-- /col -->
                                <div class="col-xl-7 col-lg-7 col-md-1 col-sm-1 col-1 d-none pr-0 pl-0 pl-lg-15 d-flex align-items-center justify-content-xl-start justify-content-center position-static">
                                    <div class="main-menu">
                                        <nav id="mobile-menu">
                                            <ul class="d-block">
                                                <li class="has-dropdown">
                                                    <a href="/">Home</a>
                                                  
                                                </li>
                                                <li class="has-dropdwon">
                                                    <a href="/about">About</a>
                                                </li>
                                                <li class="has-dropdown" >
                                                    <a href="/shop">Our Products</a>
                                                </li>
                                                 <li class="has-dropdown" >
                                                    <a href="/categories">Categories</a>
                                                </li>
                                                <li class="has-dropdown">
                                                    <a href="/blogs">Blog</a>
                                                </li>
                                                <li class="has-dropdown">
                                                    <a href="/franchise">Join Us</a>
                                                </li>
                                                <li class="has-dropdown">
                                                    <a href="/contact">Contact</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div><!-- /main-menu -->
                                </div><!-- /col -->
                                <div class="col-xl-3 col-lg-3 col-md-8 col-sm-5 col-4">
                                        <div class="header-right d-flex justify-content-end align-items-center">
                                            {{!-- <div class="header-search header-search-2 position-relative d-none d-xl-block" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Search">
                                                <input type="text" placeholder="Search" class="border-0 pl-25 theme-color">
                                                <span class="position-absolute black-color"><span><i class="far fa-search"></i></span></span>
                                            </div> --}}
                                            <ul>
                                                <li class="h-shop position-relative ml-30">
                                                  <a href="/cart">
                                                      <div class="header-shopping-cart position-relative">
                                                        <span class="dark-black-color" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Add to cart"><span><i class="far fa-shopping-cart"></i></span></span>
                                                    </div>
                                                  </a>
                                                    
                                                </li>
                                            </ul>
                                            <ul class="header-wishlist pl-2 d-none d-md-block">
                                                {{!-- <li class="position-relative">
                                                    <a href="wishlist.html" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="View wishlist" class="dark-black-color"><span><i class="far fa-heart"></i></span>
                                                    </a>
                                                </li> --}}
                                            </ul>
                                            <ul class="header-account d-none d-md-block">
                                                {{!-- <li class="d-none d-md-inline-block pl-20">
                                                    <a href="login.html" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="My Account" class="dark-black-color"><span><i class="far fa-user-circle"></i></span>
                                                    </a>
                                                </li> --}}
                                            </ul>
                                            <ul class="mobile-menubar mt-1 info-bar d-flex ml-45">
                                                <li>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </li>
                                                <li>
                                                    <span></span>
                                                    <span class="active"></span>
                                                    <span></span>
                                                </li>
                                                <li>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </li>
                                            </ul>
                                        </div><!-- /header-right -->
                                </div><!-- /col -->
                            </div><!-- /row -->
                        </div>
                    </div><!-- /container -->
                </div>
            </div><!-- /header-bottom -->
        </header>
        <!--  header-area-end  -->
    
        <!--  ====== header extra info start================================== -->
        <!-- side-mobile-menu start -->
        <div class="side-mobile-menu bg-white pt-20 pb-30 pl-40 pr-40 pb-100">
            <div class="close-icon float-right mt-20">
                <a class="close-menu d-block" href="javascript:void(0);"><span class="icon-clear"></span></a>
            </div>

            <img class="d-block mt-25" src="/neo/logo.png" alt="">
            <h5 class="mb-15 mt-15 pb-1 border-primary-b d-inline-block">About us</h5>
            <p class="mb-20">Our products are reasonably priced, conveniently packaged, extensively distributed.</p>
            <div class="mobile-menu mt-10"></div>

            <h5 class=" primary-color mt-40 pb-1 border-primary-b d-inline-block">Contact us</h5>
            <ul class="contact-add mt-20">
                <li class="mb-15 primary-color">
                    <span class="pr-1"><i class="fas fa-map-marker-alt"></i></span> 
                    NEO PRODUCTS, II/104 A1, NEO MOUNT, VATTUKUNNU, MULANTHURUTHY P O, ERNAKULAM, KERALA-682314
                </li>
                <li class="mb-20 primary-color">
                    <span class="pr-1"><i class="far fa-envelope"></i></span> 
                    neoproducts1@gmail.com
                </li>
                <li class="mb-15">
                     <a class="mb-25" href="tel:918606427383"><span class="pr-1"><i class="fas fa-phone"></i></span>+91-8606427383</a> <br>
                     <a class="mb-25" href="tel:917306218107"><span class="pr-1"><i class="fas fa-phone"></i></span>+91-7306218107</a><br>
                     <a class="mb-25" href="tel:917593871600"><span class="pr-1"><i class="fas fa-phone"></i></span>+91-7593871600</a><br>
                     <a class="mb-25" href="tel:916238123643"><span class="pr-1"><i class="fas fa-phone"></i></span>+91-6238123643</a>
                </li>
            </ul>
            <ul class="social-link pt-2 mb-150">
                <li class="d-inline-block">
                    <a class="active  primary-color-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="d-inline-block">
                    <a class=" primary-color text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="d-inline-block">
                    <a class=" primary-color text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="d-inline-block">
                    <a class=" primary-color text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-behance"></i></a>
                </li>
                <li class="d-inline-block">
                    <a class=" primary-color text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-youtube"></i></a>
                </li>
            </ul><!-- social-link -->
        </div><!-- /side-mobile-menu -->
        <div class="body-overlay"></div>
        <!-- header extra info end  -->