        <!-- ====== footer-area-start ============================================ -->
        <footer> 
            <div class="footer-area footer-bg">
                <div class="footer-top pt-80 pb-30">
                    <div class="container">
                        <div class="row">
                            <div class=" col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12 footer-widget f-adress pb-40 pr-50">
                                <div class="footer-widget f-adress pb-40 pr-50">
                                    <img src="/neo/footer-logo.png" alt="">
                                  
                                </div>
                            </div><!-- /col -->
                             <div class=" col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                                  <p class="pt-18">Our products are reasonably priced, conveniently packaged, extensively distributed.</p>
                                    <ul class="footer-address mt-30">
                                        <li class="mb-25">
                                            <span class="pr-1"><i class="fas fa-map-marker-alt"></i></span> 
                                            <a target="_blank" href="https://maps.app.goo.gl/NZwos9ehkK2dR4oo6" style="line-height: 2rem;">NEO PRODUCTS, II/104 A1, NEO MOUNT, VATTUKUNNU, MULANTHURUTHY P O, ERNAKULAM, KERALA-682314</a>
                                        </li>
                                        <li class="mb-25">
                                            <span class="pr-1"><i class="far fa-envelope"></i></span> 
                                            <a href="mailto:neoproducts1@gmail.com">neoproducts1@gmail.com</a>
                                        </li>
                                        <li>
                                            <a class="mb-25" href="tel:918606427383"><span class="pr-1"><i class="fas fa-phone"></i></span>+91-8606427383</a> <br>
                                            <a class="mb-25" href="tel:917306218107"><span class="pr-1"><i class="fas fa-phone"></i></span>+91-7306218107</a><br>
                                            <a class="mb-25" href="tel:917593871600"><span class="pr-1"><i class="fas fa-phone"></i></span>+91-7593871600</a><br>
                                            <a class="mb-25" href="tel:916238123643"><span class="pr-1"><i class="fas fa-phone"></i></span>+91-6238123643</a>
                                        </li>
                                    </ul>
                            </div><!-- /col -->
                            <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12 quick-links">
                                <div class="footer-widget f-link pb-30">
                                    <h5 class="text-white pb-30">Quick Links</h5>
                                    <ul class="footer-info">
                                        <li>
                                            <a href="/" class="position-relative d-inline-block">Home</a>
                                        </li>
                                        <li>
                                            <a href="/about" class="position-relative d-inline-block">About</a>
                                        </li>
                                        <li>
                                            <a href="/shop" class="position-relative d-inline-block">Our Products</a>
                                        </li>
                                        <li>
                                            <a href="/categories" class="position-relative d-inline-block">Our Categories</a>
                                        </li>
                                        <li>
                                            <a href="/blog" class="position-relative d-inline-block">Blogs</a>
                                        </li>
                                        <li>
                                            <a href="/contact" class="position-relative d-inline-block">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /col -->
                           
                            <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12 d-flex justify-content-lg-end">
                                <div class="footer-widget f-payment pb-30">
                                    <h5 class="text-white pb-30">Follow Us</h5>
                                    <ul class="social-link">
                                        <li class="d-inline-block">
                                            <a class="active white text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="white text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="white text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="white text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-behance"></i></a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="white text-center pr-0 d-inline-block transition-3" href="#"><i class="fab fa-youtube"></i></a>
                                        </li>
                                    </ul><!-- social-link -->
                                    <h5 class="text-white pb-25 mt-10">Payments</h5>
                                    <div class="footer-payment">
                                        <img class="w-100" src="/images/footer/payment-img.png" alt="">
                                    </div>
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div><!-- /container -->
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="copyright-area pt-25 pb-25 border-t-gray3">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                    <div class="copyright-text d-sm-flex justify-content-center align-items-center text-center">
                                        <p class="mb-0">© Copyright 2024
                                             <a href="index.html" class="c-theme">Neo Product.</a>
                                              All rights reserved.
                                        </p>

                                        {{!-- <p class="mb-0 ml-5">crafted by
                                             <a href="https://tapclone.in" class="c-theme" target="_blank" rel="noferrer">Tapclone</a>
                                        </p> --}}

                                    </div>
                                </div><!-- /col -->
                            </div><!-- /row -->
                        </div><!-- /copyright-area -->
                    </div><!-- /container -->
                </div>
            </div>
        </footer>

        <!-- back top -->
        <div class="scroll-up" id="scroll">
            <a href="#" class="theme-bg white d-block text-center position-fixed mr-10">
                <span class="icon-chevrons-up"></span>
            </a>
        </div>

                
        <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/js/jquery.inputarrow.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
        <script src="/js/jquery.elevateZoom-3.0.8.min.js"></script>
        <script src="/js/jquery.fancybox.min.js"></script>
        <script src="/js/slick.min.js"></script>
        <script src="/js/countdown.min.js"></script>
        <script src="/js/jquery.meanmenu.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>