  <main style="margin-top: 5rem;">

            <!-- ======slider-area-start=========================================== -->
            <div class="slider-area over-hidden">
                <div class="page-height d-flex align-items-center justify-content-center position-relative" data-background="images/slider/page-bg.jpg">
                    <div class="slider-shape position-absolute z-index1">
                        <span class="slider-bg-round d-block"></span>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                            <div class="page-title b-l pt-100 text-center position-relative z-index1">
                                <h2 class="text-capitalize font600 mb-10">About Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center bg-transparent">
                                    <li class="breadcrumb-item"><a class="primary-color" href="/">Home</a></li>
                                    <li class="breadcrumb-item active text-capitalize" aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div><!-- /page title -->
                        </div><!-- /col -->
                    </div>
                </div><!-- /single-slider -->
            </div>
            <!-- slider-area-end  -->
           
            <!-- ====== about-area-start=============================================== --> 
            <div class="about-area over-hidden pt-120">
                <div class="container">
                    <div class="row justify-content-center">                     
                        <div class="col-xl-6 col-lg-6  col-md-12  col-sm-12 col-12">
                            <div class="about-left mb-90 pr-20">
                                <div class="about-title text-left pb-20">
                                    <h2 class="theme-color pb-20 d-block font600">Welcome to NEO PRODUCTS</h2>
                                    <h3 class="font500 mb-50">ABOUT NEO PRODUCTS !!</h3>
                                    <div class="about-quote">
                                        <blockquote>
                                            <p>It's our constant endeavour to give people solutions rather than just products. And in order to keep up with this vision, we have consciously ventured into new products that provide ample benefit to our customers.</p>
                                        </blockquote>
                                    </div>
                                    <p>NEO PRODUCTS was founded in 2001 by a promising entrepreneur Mr. Binu T Jospeh in Kanayannoor, Ernakulam, Kerala. He began his dream project, with Rs 50000 and a vision to create an impact by touching people's lives. He started his firm named as THEKKEDANS PRODUCTS initially which is later changed to VEDA HERBALS and finally to NEO PRODUCTS. What began as a proprietary concern doing all activities like manufacturing, marketing etc by himself, mainly focussing in a single district has grown to become one of the most trusted brands with multi-products with operations all over Kerala.</p>
                                </div><!-- /section-title -->
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-5  col-lg-6  col-md-12 col-sm-12 col-12">
                            <div class="about-right mb-90">
                                <img src="/neo/neobanner2.png" alt="">
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
            <!-- about-area-end -->

            <!-- ====== about-video-area-start=============================================== --> 
            <div class="about-us-video-area mt-30">
                <div class="container-wrapper extra-padding-15">
                    <div class="about-us-video about-video-bg position-relative">
                        <img class="d-block" style="width: 100%;" src="/neo/utube.webp" alt="">
                        <a data-fancybox="" class="video-player-btn circle-animation position-absolute" href="https://www.youtube.com/watch?v=7Q5_VZmcy2k">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div><!-- /container -->
            </div>
            <!-- about-video-area-end -->
            
            <!-- ====== about-ser-information-area-start=============================================== --> 
            <div class="about-quote-area pt-105 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="about-quote-wrapper-2">
                                <blockquote>
                                    <img src="images/about/quotation.png" alt="">
                                    <p>We know that good tech matters to build our future.</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="about-quote-content">
                                <p>Our Quality Commitment: we place our customers' needs at the forefront of everything we do. We take immense pride in our excellence in manufacturing fine quality products. Our commitment to continuous improvement ensures that our products consistently meet our customers' needs while complying with all statutory regulations and requirements.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- about-ser-information-area-end -->

            <!-- ====== testimonial-area-start ========================================= --> 
            <div class="testimonial-area testimonial-bg pt-130 pb-150" data-background="/neo/neoabout.jpg">
                <div class="container">
                    <div class="testimonial-active">
                        <div class="row align-items-center pb-55">
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                <div class="user-comment text-center">
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                        <div class="row align-items-center pb-55">
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                <div class="user-comment text-center">
                                    <div class="testi-author">
                                        <img class="d-inline-block mb-20" src="images/product-details/client-avater1.png" alt="">
                                        <h6 class="author-name font500 pb-1 text-white">Aasen Hnato
                                        <span class="author-p font400 d-block pt-2">Ceo &amp; Co</span></h6>
                                    </div>
                                    <div class="quit text-white mt-40"><i class="fas fa-quote-right"></i></div>
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div>
                </div><!-- /container -->
            </div>
            <!-- testimonial-area-end  -->
        </main>