  <main style="margin-top: 5rem;">

            <!-- ======slider-area-start=========================================== -->
            <div class="slider-area over-hidden">
                <div class="page-height d-flex align-items-center justify-content-center position-relative" data-background="images/slider/page-bg.jpg">
                    <div class="slider-shape position-absolute z-index1">
                        <span class="slider-bg-round d-block"></span>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                            <div class="page-title b-l pt-100 text-center position-relative z-index1">
                                <h2 class="text-capitalize font600 mb-10">Join Our Franchise</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center bg-transparent">
                                    <li class="breadcrumb-item"><a class="primary-color" href="/">Home</a></li>
                                    <li class="breadcrumb-item active text-capitalize" aria-current="page">Franchise</li>
                                    </ol>
                                </nav>
                            </div><!-- /page title -->
                        </div><!-- /col -->
                    </div>
                </div><!-- /single-slider -->
            </div>
            <!-- slider-area-end  -->
           
            <!-- ====== about-area-start=============================================== --> 
            <div class="about-area over-hidden pt-80">
                <div class="container">
                    <div class="row justify-content-center">                     
                        <div class="col-xl-11 col-lg-11  col-md-12  col-sm-12 col-12 franchise">
                           <img src="/neo/franchise.jpg" alt="">
                           <a href="/contact" class="btn btn-success">Contact Us Now</a>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
            <!-- about-area-end -->

            <!-- ====== about-video-area-start=============================================== --> 
            <div class="about-us-video-area mt-30">
                <div class="container-wrapper extra-padding-15">
                    <div class="about-us-video about-video-bg position-relative">
                        <img class="d-block" style="width: 100%;" src="/neo/utube.webp" alt="">
                        <a data-fancybox="" class="video-player-btn circle-animation position-absolute" href="https://www.youtube.com/watch?v=7Q5_VZmcy2k">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div><!-- /container -->
            </div>
            <!-- about-video-area-end -->
            
            <!-- ====== about-ser-information-area-start=============================================== --> 
            <div class="about-quote-area pt-105 pb-90">
                <div class="container">
                  <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="about-quote-wrapper-2">
                                <blockquote>
                                    <img src="images/about/quotation.png" alt="">
                                    <p>Our Quality Commitment</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="about-quote-content">
                                <p>we place our customers' needs at the forefront of everything we do. We take immense pride in our excellence in manufacturing fine quality products. Our commitment to continuous improvement ensures that our products consistently meet our customers' needs while complying with all statutory regulations and requirements.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- about-ser-information-area-end -->

            <!-- ====== testimonial-area-start ========================================= --> 
            <div class="testimonial-area testimonial-bg pt-130 pb-150" data-background="/neo/neoabout.jpg">
                <div class="container">
                    <div class="testimonial-active">
                        <div class="row align-items-center pb-55">
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                <div class="user-comment text-center">
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                        <div class="row align-items-center pb-55">
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                <div class="user-comment text-center">
                                    <div class="testi-author">
                                        <img class="d-inline-block mb-20" src="images/product-details/client-avater1.png" alt="">
                                        <h6 class="author-name font500 pb-1 text-white">Aasen Hnato
                                        <span class="author-p font400 d-block pt-2">Ceo &amp; Co</span></h6>
                                    </div>
                                    <div class="quit text-white mt-40"><i class="fas fa-quote-right"></i></div>
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div>
                </div><!-- /container -->
            </div>
            <!-- testimonial-area-end  -->

            <!-- ====== subscribe-area-start ========================================= -->
            {{!-- <div class="subscribe-area pt-75 pb-25 wow slideInUp" data-background="/neo/subscribe-bg.jpg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-5  col-lg-4  col-md-12  col-sm-12 col-12">
                            <div class="section-title  mb-50">
                                <span class="theme-color d-block pb-2">Get More Updates</span>
                                <h3>Our Newsletters</h3>
                            </div><!-- /section-title -->
                        </div><!-- /col -->
                        <div class="col-xl-7  col-lg-8  col-md-12  col-sm-12 col-12">
                            <div class="subscribe-form-area subscribe-form-area1 mb-50">
                                <form action="#" class="d-sm-flex align-items-center justify-content-between">
                                    <div class="subscribe-info position-relative mr-20">
                                        <input class="sub-name form-control border-0 pl-35 theme-color" type="email" name="name" id="sub-name" placeholder="Enter Your Email Address">
                                    </div>
                                    <div class="subscribe-btn">
                                    <a href="#" class="web-btn d-block theme-bg white text-uppercase over-hidden position-relative plr-48 px-5">
                                        Subscribe Now<span class="pl-2"><i class="fas fa-long-arrow-alt-right"></i></span>
                                    </a>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div> --}}

        </main>