<main style="margin-top: 5rem;">
     <div class="slider-area over-hidden">
                <div class="page-height d-flex align-items-center justify-content-center position-relative" data-background="images/slider/page-bg.jpg">
                    <div class="slider-shape position-absolute z-index1">
                        <span class="slider-bg-round d-block"></span>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                            <div class="page-title b-l pt-100 text-center position-relative z-index1">
                                <h2 class="text-capitalize font600 mb-10">FAQ</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center bg-transparent">
                                    <li class="breadcrumb-item"><a class="primary-color" href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active text-capitalize" aria-current="page">FAQ</li>
                                    </ol>
                                </nav>
                            </div><!-- /page title -->
                        </div><!-- /col -->
                    </div>
                </div><!-- /single-slider -->
            </div>
            <!-- slider-area-end  -->

                <!-- faq area start -->
                <div class="faq__area pt-130 pb-130 faq__bg-color">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="faq__content">
                                    <div id="accordion">
                                        <div class="card mb-15">
                                            <div class="card-header" id="faq-1">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                        How do I place an order?
                                                    </button>
                                                </h5>
                                            </div>
    
                                            <div id="collapse-1" class="collapse" aria-labelledby="faq-1" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>To place an order, simply add items to your cart and proceed to checkout. Follow the on-screen instructions to complete your purchase.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-15">
                                            <div class="card-header" id="faq-2">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                                                        What payment methods do you accept?
                                                    </button>
                                                </h5>
                                            </div>
    
                                            <div id="collapse-2" class="collapse show" aria-labelledby="faq-2" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>We accept major credit cards, UPI, net banking and other secure payment methods.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-15">
                                            <div class="card-header" id="faq-3">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                                                       Can I track my order?
                                                    </button>
                                                </h5>
                                            </div>
    
                                            <div id="collapse-3" class="collapse" aria-labelledby="faq-3" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Yes, once your order is shipped, you will receive a tracking detail</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-15">
                                            <div class="card-header" id="faq-4">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
                                                        What is your return policy?
                                                    </button>
                                                </h5>
                                            </div>
    
                                            <div id="collapse-4" class="collapse" aria-labelledby="faq-4" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>We accept returns within 15 days of purchase. Items must be in original condition and packaging. Please refer to our Return and Refund Policy for more details.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-15">
                                            <div class="card-header" id="faq-5">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
                                                        How do I contact customer service?
                                                    </button>
                                                </h5>
                                            </div>
    
                                            <div id="collapse-5" class="collapse" aria-labelledby="faq-5" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>You can contact our customer service team at neoproducts1@gmail.com  or our phone number: 91 6238123643/8606427383</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="faq__content">
                                    <div id="accordion-2">
                                         <div class="card mb-15">
                                            <div class="card-header" id="faq-6">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-6" aria-expanded="true" aria-controls="collapse-6">
                                                        Do you offer international shipping?
                                                    </button>
                                                </h5>
                                            </div>
    
                                            <div id="collapse-6" class="collapse" aria-labelledby="faq-6" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p> Yes, we offer international shipping to select countries. Shipping rates and delivery times vary.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-15">
                                            <div class="card-header" id="faq-7">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-7" aria-expanded="true" aria-controls="collapse-7">
                                                        How do I apply a discount code?
                                                    </button>
                                                </h5>
                                            </div>
    
                                            <div id="collapse-7" class="collapse" aria-labelledby="faq-7" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>You can apply a discount code at checkout. Enter the code in the designated field and click "Apply."</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-15">
                                            <div class="card-header" id="faq-8">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-8" aria-expanded="true" aria-controls="collapse-8">
                                                       What if I receive a damaged or incorrect item?
                                                    </button>
                                                </h5>
                                            </div>
    
                                            <div id="collapse-8" class="collapse" aria-labelledby="faq-8" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Please contact us immediately at neoproducts1@gmail.com with your order number and a photo of the damaged or incorrect item. We will assist you in resolving the issue.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-15">
                                            <div class="card-header" id="faq-9">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-9" aria-expanded="true" aria-controls="collapse-9">
                                                      Contact Us
                                                    </button>
                                                </h5>
                                            </div>
    
                                            <div id="collapse-9" class="collapse" aria-labelledby="faq-9" data-parent="#accordion-2">
                                                <div class="card-body">
                                                    <p>For additional questions, please reach out to us neoproducts1@gmail.com</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</main>