<main style="position: relative; background: #CBECE0; height: 100%;">
    <img class="logo-maintainence" src="/neo/logo.png" alt="">
    <video style="object-fit: contain; width: 100%; height: 80vh;" autoplay muted loop src="/images/maintanence.mp4" alt=""></video>
    <h1 class="maintain-text">Neo is under Maintenance</h1>
    <h1 class="maintain-text">Please come back after some time</h1>
</main>
<style>
     style="position: absolute; top: 2%; left: 0%; width: 15%;"
     .logo-maintainence{
        position: absolute;
        top: 2%;
        left: 0%;
        width: 15%;
     }

              .maintain-text{
	font-size: 1.5rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
}
@media(max-width:992px){
    .logo-maintainence{
         position: absolute;
        top: 2%;
        left: 0%;
        width: 15%;
        width: 45%;
    }
          .maintain-text{
	font-size: 1.3rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
}
}
</style>