<div class="success-container">
  <img src="/neo/order.jpg" alt="" />
  <h3>Your order is <span>Succesfull</span></h3>
  <h4>Our team will contact you soon regarding the order</h4>
  <a href="/" class="btn btn-primary success-order-button">Home</a>
</div>  