<main style="margin-top: 5rem;">

  <!-- ======slider-area-start=========================================== -->
  <div class="slider-area over-hidden">
    <div
      class="page-height d-flex align-items-center justify-content-center position-relative"
      data-background="images/slider/page-bg.jpg"
    >
      <div class="slider-shape position-absolute z-index1">
        <span class="slider-bg-round d-block"></span>
      </div>
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div
            class="page-title b-l pt-100 text-center position-relative z-index1"
          >
            <h2 class="text-capitalize font600 mb-10">Privacy Policy</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center bg-transparent">
                <li class="breadcrumb-item"><a
                    class="primary-color"
                    href="index.html"
                  >Home</a></li>
                <li
                  class="breadcrumb-item active text-capitalize"
                  aria-current="page"
                >Privacy & Policy</li>
              </ol>
            </nav>
          </div><!-- /page title -->
        </div><!-- /col -->
      </div>
    </div><!-- /single-slider -->
  </div>
  <!-- slider-area-end  -->

  <!-- ====== Term & Conditions-area-start=============================================== -->
  <div class="term-con-area pb-70 mt-80">
    <div class="container">
      <div class="term-con-content mb-40">
        <h4 class="pb-2 font500">Information Collection</h4>
        <p class="pb-0">01. We collect personal information when you register on
          our site, place an order, or fill out a form. This may include your
          name, email address, mailing address, phone number, and payment
          information.</p>
        <p class="pb-0">02. We also collect non-personal information such as
          browser type, IP address, and the pages you visit on our site.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 pt-2 font500">Information Use</h4>
        <p class="pb-0">01. To process transactions and deliver the products you
          have purchased.</p>
        <p class="pb-0">02. To improve our website and customer service.</p>
        <p class="pb-0">03. To send periodic emails regarding your order or
          other products and services.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 font500">Data Protection</h4>
        <p class="pb-0">
          We implement a variety of security measures to maintain the safety of
          your personal information.</p>
        <p>Your personal information is stored on secure servers and is only
          accessible by authorized personnel.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 pt-10 font500">Cookies</h4>
        <p class="pb-2">We use cookies to enhance your experience on our site.
          Cookies help us understand your preferences and provide a personalized
          experience</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 pt-10 font500">Third-Party Disclosure</h4>
        <p class="pb-2">We do not sell, trade, or otherwise transfer your
          personal information to outside parties, except when necessary to
          provide services or as required by law.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 font500">Your Consent</h4>
        <p>By using our site, you consent to our Privacy Policy.</p>
        <p>Changes to our Privacy Policy will be posted on this page.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 font500">Contact Us</h4>
        <p>If you have any questions about this Privacy Policy, please contact
          us at neoproducts1@gmail.com</p>
      </div>
      <div class="bottom-line"></div>
    </div><!-- /container -->
  </div>
  <!-- Term & Conditions Page-area-end -->

</main>