<main style="margin-top: 5rem;">

  <!-- ======slider-area-start=========================================== -->
  <div class="slider-area over-hidden">
    <div
      class="page-height d-flex align-items-center justify-content-center position-relative"
      data-background="images/slider/page-bg.jpg"
    >
      <div class="slider-shape position-absolute z-index1">
        <span class="slider-bg-round d-block"></span>
      </div>
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div
            class="page-title b-l pt-100 text-center position-relative z-index1"
          >
            <h2 class="text-capitalize font600 mb-10">Return and Refund Policy</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center bg-transparent">
                <li class="breadcrumb-item"><a
                    class="primary-color"
                    href="index.html"
                  >Home</a></li>
                <li
                  class="breadcrumb-item active text-capitalize"
                  aria-current="page"
                >Return & Refund Policy</li>
              </ol>
            </nav>
          </div><!-- /page title -->
        </div><!-- /col -->
      </div>
    </div><!-- /single-slider -->
  </div>
  <!-- slider-area-end  -->

  <!-- ====== Term & Conditions-area-start=============================================== -->
  <div class="term-con-area pb-70 mt-80">
    <div class="container">
      <div class="term-con-content mb-40">
            <p class="pb-0">We want you to be completely satisfied with your purchase. If you are not satisfied for any reason, you may return the item(s) within 15 days of purchase for a refund or exchange.</p>
        <h4 class="pb-2 font500">Returns</h4>
        <p class="pb-0">01. To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.</p>
        <p class="pb-0">02. To initiate a return, please contact our customer service at neoproducts1@gmail.com  with your order number and reason for return.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 pt-2 font500">Refunds</h4>
        <p class="pb-0">01. Once we receive your returned item, we will inspect it and notify you of the approval or rejection of your refund.</p>
        <p class="pb-0">02. If approved, your refund will be processed, and a credit will automatically be applied to your original method of payment within a 7 days of receipt.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 font500">Exchanges</h4>
        <p class="pb-0">
          If you need to exchange an item, please send us an email at neoproducts1@gmail.com with your order number and the item you wish to exchange.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 pt-10 font500">Non-Returnable Items</h4>
        <p class="pb-2">Perishable goods are not eligible for return.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 pt-10 font500">Shipping</h4>
        <p class="pb-2"> You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable.</p>
        <p class="pb-2">If you receive a refund, the cost of return shipping will be deducted from your refund.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 font500">Contact Us</h4>
        <p>If you have any questions about this Privacy Policy, please contact
          us at neoproducts1@gmail.com</p>
      </div>
      <div class="bottom-line"></div>
    </div><!-- /container -->
  </div>
  <!-- Term & Conditions Page-area-end -->

</main>