<main style="margin-top: 5rem;">
  <div class="slider-area over-hidden">
    <div
      class="page-height d-flex align-items-center justify-content-center position-relative"
      data-background="images/slider/page-bg.jpg"
    >
      <div class="slider-shape position-absolute z-index1">
        <span class="slider-bg-round d-block"></span>
      </div>
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div
            class="page-title b-l pt-100 text-center position-relative z-index1"
          >
            <h2 class="text-capitalize font600 mb-10">Terms Of Service</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center bg-transparent">
                <li class="breadcrumb-item"><a
                    class="primary-color"
                    href="/"
                  >Home</a></li>
                <li
                  class="breadcrumb-item active text-capitalize"
                  aria-current="page"
                >Terms of Service</li>
              </ol>
            </nav>
          </div><!-- /page title -->
        </div><!-- /col -->
      </div>
    </div><!-- /single-slider -->
  </div>
  <!-- slider-area-end  -->

  <!-- ====== Term & Conditions-area-start=============================================== -->
  <div class="term-con-area pb-70 mt-80">
    <div class="container">
        <p>Welcome to www.neoindia.in. By using our website, you agree to comply with and be bound by the following terms and conditions.</p>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 font500">Use of Site</h4>
        <p class="pb-0">You may use our site for lawful purposes only. You may not use our site to engage in any fraudulent, abusive, or illegal activity.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 pt-2 font500">Account</h4>
        <p class="pb-0">When creating an account, you must provide accurate and complete information. You are responsible for maintaining the confidentiality of your account and password.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 font500">Orders</h4>
        <p class="pb-0">All orders are subject to acceptance and availability. We reserve the right to refuse or cancel any order at our discretion.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 pt-10 font500">Pricing and Availability</h4>
        <p class="pb-2">Prices and availability of products are subject to change without notice. We strive to provide accurate pricing information, but errors may occur.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 pt-10 font500">Intellectual Property</h4>
        <p class="pb-2">We are not liable for any direct, indirect, incidental, or consequential damages arising from your use of our website or products.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 font500">Governing Law</h4>
        <p>These terms and conditions are governed by and construed in accordance with the laws as applicable in Ernakulam, Kerala, India</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 font500">Changes to Terms</h4>
        <p>We reserve the right to modify these terms and conditions at any time. Changes will be posted on this page.</p>
      </div>
      <div class="term-con-content mb-40">
        <h4 class="pb-2 font500">Contact Us</h4>
        <p>If you have any questions about this Privacy Policy, please contact
          us at neoproducts1@gmail.com</p>
      </div>
      <div class="bottom-line"></div>
    </div><!-- /container -->
  </div>
  <!-- Term & Conditions Page-area-end -->

</main>